body {
  background-color: #eaeaea !important;
}

.ui.inverted.top.fixed.menu {
  background-image: linear-gradient(0deg, rgb(151, 68, 110) 0%, rgb(3, 3, 3)69%, rgb(22, 22, 22)89%) !important;
}

.container {
  border-radius: 2;
  border-color: grey;
}

/* ConfirmDialog.css */

